<div class="">
  <div class="flex justify-center items-center">
    <div>
      <a href="https://www.linkedin.com/in/jos%C3%A9-manuel-contreras-rocha-61968a184/"
        class="btn btn-secondary mr-4 flex items-center gap-2 whitespace-nowrap flex-nowrap">
        LinkedIn
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 md:w-4 md:h-4" viewBox="0 0 512 512">
          <path fill="currentColor" d="M512 261.5L298.7 90.8v128H0v85.4h298.7v128z" />
        </svg>
      </a>
    </div>

    <div>
      <a href="https://github.com/ChemaSW"
        class="btn btn-secondary mr-4 flex items-center gap-2 whitespace-nowrap flex-nowrap">
        GitHub
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 md:w-4 md:h-4" viewBox="0 0 512 512">
          <path fill="currentColor" d="M512 261.5L298.7 90.8v128H0v85.4h298.7v128z" />
        </svg>
      </a>
    </div>
  </div>

  <div class="mt-4">
    <button (click)="descargarCV()" class="btn btn-outline text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 md:w-6 md:h-6" viewBox="0 0 20 20">
        <path fill="currentColor" fill-rule="evenodd"
          d="M4 4a2 2 0 0 1 2-2h4.586A2 2 0 0 1 12 2.586L15.414 6A2 2 0 0 1 16 7.414V16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2 6a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1m1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2z"
          clip-rule="evenodd" />
      </svg>
      Descargar CV
    </button>
  </div>

</div>
