<div class="flex flex-col items-center justify-center mt-8">

  <div class="rounded-full p-1 px-3 flex items-center justify-center gap-1 bg-neutral mb-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 md:w-6 md:h-6" viewBox="0 0 24 24">
      <path fill="currentColor" d="M21 17v-6.9L12 15L1 9l11-6l11 6v8zm-9 4l-7-3.8v-5l7 3.8l7-3.8v5z" />
    </svg>
    <span>
      Educación
    </span>
  </div>

  <div class="mb-2">
    <h2 class="font-bold text-3xl md:text-6xl">Formación Académica</h2>
  </div>

  <div>
    <p class="text-gray-400 text-xs md:text-lg">Estudios y trayectoria en desarrollo de software</p>
  </div>

  <div>
    <info-educacion-component />
  </div>

</div>
